<router-outlet></router-outlet>

<div class="all">
  <div class="grid">
    @for (products of this.products; track products.id) {

    <div class="card">
      <div class="image">
        <img
          [src]="products.image"
          [alt]="products.name"
          width="300"
          height="280"
        />
      </div>
      <div class="name">
        <p>{{ products.name }}</p>
        <hr />
        <p>{{ products.price }}</p>
      </div>
      <div class="action">
        <div>
          <p>{{ products.quantity }}</p>
          <!-- <app-increment (increment)="onIncrement($event)"></app-increment> -->
        </div>
      </div>
    </div>
    }
  </div>
</div>
