<router-outlet></router-outlet>

<div class="all">
  <div class="grid">
    @for (products of this.products; track products.id) {

    <div class="card">
      <div class="image">
        <img
          [src]="products.image"
          [alt]="products.name"
          width="300"
          height="240"
        />
      </div>
      <div class="name">
        <p>{{ products.name }}</p>
        <hr />
        <p>{{ products.price }}</p>
      </div>
      <div class="action">
        <div>
          <p>Quantity:{{ products.quantity }}</p>
          <p>Price:{{ getTotalPrice(products) }}</p>
          <button (click)="increaseQuantity(products.id)">+</button>
          <button (click)="decreaseQuantity(products.id)">-</button>
        </div>
      </div>
    </div>
    }
    <div class="summary">
      <div class="summary-card">
        <h2>Summary</h2>
        <div></div>
        @for (product of this.products; track product.id){ @if (product.quantity
        > 0) {
        <p>
          Name : {{ product.name }} - Quantity : {{ product.quantity }} - Total
          Price: {{ getTotalPrice(product) }}
        </p>
        <hr />
        } }
      </div>
    </div>
    <div class="summary">
      <div class="summary-card">
        <h1>Total Price</h1>
        <p>{{ getTotalPriceForAllProducts() }}</p>
      </div>
    </div>
  </div>
</div>
